@import "../compenents/public.less";

.form {
    margin-top: @marginTopFirst;
    margin-left: @sideMargin;
    margin-right: @sideMargin;
}

.divider {
    &:global {
        &.ant-divider.ant-divider-horizontal.ant-divider-with-text.ant-divider-with-text-left {
            margin-bottom: 0;
        }
    }
}

.title {
    .heading();
}

.box-bottomof-form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 36.1vh;
    
    margin-top: 2vh;
    :global {
        .content {
            margin-left: @sideMargin;
            margin-right: @sideMargin;
        }
    }
}