@import "../compenents/public.less";

.content-whole {
    min-height: 78.3vh;
    margin-top: @marginTopFirst;
    margin-left: @largetSideMargin;
    margin-right: @largetSideMargin;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ad {
    flex: 1 0 auto;
}

.form-endof-ad {
    flex: 2 1 auto;

    margin-left: @largetSideMargin;
}