@marginTop: 5vh;
@sideMargin: 2vw;

@borderRadius: 10px;

@verticalMargin: 0;
.heading {
    margin-block-start: @verticalMargin;
    margin-block-end: @verticalMargin;
}

.subtitle {
    font-size: large;
    font-weight: bold;
}

.heading3 {
    margin-block-start: @verticalMargin;
    margin-block-end: @verticalMargin;
    font-weight: normal;
}

@primaryBlue: #1677ff;
@secondaryBlue: #e6f4ff;
@yellow: #fadb14;